@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing:border-box;
}
.jogo{
    display: flex;
    justify-content: space-between;
}
.jogo img{
    width: 400px;
    height: 466.67px;
    margin-left: 38px;
    margin-top: 59px;
}
.jogo button{
    width: 200px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    text-align: center;
    background-color: green;
    color: #FFFFFF;
    margin-top: 89px;
    margin-right: 53px;
}
.letras{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}
.letras div{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #7AA7C7;
    color: #7AA7C7;
    background-color: #9FAAB5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    margin-bottom: 12px;

}